body {
    text-align: center;
    backdrop-filter: blur(8px);
    background-size: cover;
    background-size: 45em;
    background-image: url(/assets/img/2170623.jpg)
    }

.blinking-text {
    display: flex;
    animation: blink 2s infinite;
    font-family: 'Macondo', cursive;
    font-weight: 700;
    font-size: 3em;
    margin-top: 1.5em;
    justify-content: center;
}
@keyframes blink {
    0% {
        color: red;
    }

    25% {
        color: blue;
    }

    50% {
        color: green;
    }

    75% {
        color: orange;
    }

    100% {
        color: purple;
    }
}

p {
    font-weight: 600;
}
.button {
    width: 2em;
    height: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1.2em;
}
.span {
    margin-right: 1em;
    margin-left: 1em;
    font-weight: 800;
}
.resetButton {
    display: block;
    margin: auto;
    font-family: 'Macondo', cursive;
    font-weight: 600;
}

a {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
