html {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://img.freepik.com/free-vector/variety-flat-sushi-pattern_23-2147560482.jpg?w=740&t=st=1708512794~exp=1708513394~hmac=052061ddfe6f4eebd1ad6b95c4e7c9bf59a7a4e2534a261d4c4e561441eb2c4d);

}
body {
    margin: 0;
    text-align: center;

}

.blinking-text {
    display: flex;
    animation: blink 2s infinite;
    font-family: 'Macondo', cursive;
    font-size: 3em;
    margin-top: 1.5em;
    justify-content: center;
}
@keyframes blink {
    0% {
        color: red;
    }

    25% {
        color: blue;
    }

    50% {
        color: green;
    }

    75% {
        color: orange;
    }

    100% {
        color: purple;
    }
}
.button {
    width: 2em;
    height: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1.2em;
}
.span {
    margin-right: 1em;
    margin-left: 1em;
}
.resetButton {
    display: block;
    margin: auto;
    font-family: 'Macondo', cursive;
    font-weight: 600;
}
